<mat-toolbar class="nav-bar">
  <span class="title-class">BON<span class="b-class">b</span>LOC</span>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened
    ><button class="button-class" routerLink="">Home</button
    ><button class="button-class" routerLink="/details">
      Details
    </button></mat-drawer
  >
  >
  <mat-drawer-content
    ><img
      class="img-class"
      src="https://media.licdn.com/dms/image/sync/D4D27AQEQjKLP_5oVmQ/articleshare-shrink_1280_800/0/1692377088815?e=1693303200&v=beta&t=05vB8fuxo48mpVTvCoXyRfbxn170WaY4jferaeA1Q0A"
      alt=""
  /></mat-drawer-content>
</mat-drawer-container>
